.MediaCardContainer{
    max-width: 310px;
    margin: auto;
}
.MediaCardImage{
    height: 200px !important;
    width: 200px;
}
.MediaCardDescription{
    height: 200px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}